<div class="footer d-flex justify-content-center" >
    <div class="d-flex flex-column" style="padding-top: 40px;">
        <div class="text" style="margin-bottom: 15px; font-size: 25px;">Vive San Carlos ® 2020</div>
        <div class="text">contacto@vivesancarlos.com</div>
        <div class="text">+52 655 55 55 55</div>
        <div class="text">San Carlos, Son. MX 85000</div>
        <div class="d-flex justify-content-center" style="text-align: center; padding-top: 10px;">
            <a href="https://www.airbnb.com" target="_blank" class="link" style=" margin-right: 10px;">Airbnb</a>
            <a href="https://www.homie.com" target="_blank" class="link" style=" margin-right: 10px;">Homie</a>
            <a href="https://www.instagram.com" target="_blank" class="link" style=" margin-right: 10px;">Instagram</a>
            <a href="https://www.facebook.com" target="_blank" class="link">Facebook</a>
        </div>
    </div>
</div>